.background {
  width: 100%;
}

.bicon {
  display: flex;
  gap: 3vw;
  margin: 1.15vw 6vw 1.15vw 20.5vw;
}

.icon {
  display: flex;
  gap: 2.08vw;
  text-align: center;
  cursor: pointer;
}

.bicon .icon img {
  width: 3.5vw;
  height: 3.5vw;
}

.background .bicon .icon article p {
  font-size: 0.78vw;
  font-weight: 600;
  color: #666;
  margin-top: 0.3vw;
  letter-spacing: 0.04em;
}

.search {
  position: relative;
  margin-top: 0.3vw;
}

.search .box:nth-of-type(1) {
  width: 1.41vw;
  height: 4.32vw;
  background-color: #F1F1F1;
  border-radius: 0.26vw;
}

.search .box i:nth-of-type(1) {
  color: #444;
  font-size: 0.8vw;
  margin-top: 1.77vw;
  margin-left: 0.2vw;
  cursor: pointer;
}

.search .box:nth-of-type(2) input {
  width: 6vw;
  height: 1.6vw;
  background-color: #F1F1F1;
  border-radius: 0.26vw;
  text-align: center;
  padding-top: 0.1vw;
  font-size: 0.78vw;
  font-weight: 500;
  color: #666;
  border: none;
  outline: none;

  position: absolute;
  transform: translate(1.7vw, -4.3vw);
}

.search .box:nth-of-type(3) input {
  width: 6vw;
  height: 1.6vw;
  background-color: #F1F1F1;
  border-radius: 0.26vw;
  text-align: center;
  padding-top: 0.1vw;
  font-size: 0.78vw;
  font-weight: 500;
  color: #666;
  border: none;
  outline: none;

  position: absolute;
  transform: translate(1.7vw, -1.55vw);
}

.search .box:nth-of-type(4) {
  width: 1.41vw;
  height: 4.32vw;
  background-color: #F1F1F1;
  border-radius: 0.26vw;
  position: absolute;
  transform: translate(8vw, -4.3vw);
}

.search>i {
  font-size: 0.8vw;
  color: #666;
  position: absolute;
  transform: translate(4.2vw, -2.5vw);
}


.backgroundimg {
  width: 100%;
  height: 33.5vw;
  background: url('../img/backgrond.png') center/cover no-repeat;
}

.backgroundimg>p {
  color: #fff;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0.03rem;
  padding: 15.68vw 0 0 17.5vw;
}

.backgroundimg>p span {
  font-weight: 600;
}

@media (max-width: 1440px) {
  .bicon .icon {
    display: flex;
    flex-wrap: wrap;
    gap: 2.08vw;
    text-align: center;
    margin-left: 1vw;
    cursor: pointer;
    margin-left: -5.5vw;
  }

  .bicon .icon img {
    width: 4.5vw;
    height: 4.5vw;
  }

  .background .bicon .icon article p {
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 0.06em;
  }

  .search {
    position: relative;
    margin-top: 0.3vw;
  }

  .search .box:nth-of-type(1) {
    display: none;
  }

  .search .box:nth-of-type(2) input {
    width: 8vw;
    height: 2.5vw;
    background-color: #F1F1F1;
    border-radius: 0.26vw;
    text-align: center;
    padding-top: 0.1vw;
    font-size: 1vw;
    font-weight: 500;
    color: #666;
    border: none;
    outline: none;

    position: absolute;
    transform: translateX(-1vw);
  }

  .search .box:nth-of-type(3) input {
    width: 8vw;
    height: 2.5vw;
    background-color: #F1F1F1;
    border-radius: 0.26vw;
    text-align: center;
    padding-top: 0.1vw;
    font-size: 1vw;
    font-weight: 500;
    color: #666;
    border: none;
    outline: none;

    position: absolute;
    transform: translate(-1vw, 3vw);
  }

  .search .box:nth-of-type(4) {
    width: 2vw;
    height: 5.5vw;
    background-color: #F1F1F1;
    border-radius: 0.26vw;
    position: absolute;
    transform: translateX(7.5vw);
  }

  .search .box:nth-of-type(4) i {
    font-size: 1.2vw;
    line-height: 1.5vw;
  }

  .search>i {
    display: none;
  }

  .backgroundimg>p {
    color: #fff;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 2.3vw;
    letter-spacing: 0.07rem;
    padding: 15.68vw 0 0 17.5vw;
  }
}



@media(max-width:1024px) {
  .backgroundimg>p {
    color: #fff;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 2.3vw;
    letter-spacing: 0.07rem;
    padding: 15.68vw 0 0 17.5vw;
  }
}

@media (max-width:768px) {
  .bicon .icon {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    text-align: center;
    margin-left: 1vw;
    cursor: pointer;
    margin-left: -4vw;
  }

  .bicon .icon article:nth-of-type(6) {
    display: none;
  }

  .bicon .icon article:nth-of-type(8) {
    display: none;
  }

  .bicon .icon img {
    width: 7vw;
    height: 7vw;
  }

  .background .bicon .icon article p {
    font-size: 1.25vw;
    font-weight: 600;
    letter-spacing: 0.07em;
  }

  .search {
    position: absolute;
    transform: translate(2.5vw, 16vw)
  }

  .search .box:nth-of-type(2) input {
    width: 25vw;
    height: 2.5vw;
    background-color: #F1F1F1;
    border-radius: 0.3vw;
    text-align: center;
    padding-top: 0.1vw;
    font-size: 1.5vw;
    font-weight: 500;
    color: #666;
    border: none;
    outline: none;

    transform: translate(5vw, -4.3vw);
  }

  .search .box:nth-of-type(3) input {
    width: 25vw;
    height: 2.5vw;
    background-color: #F1F1F1;
    border-radius: 0.3vw;
    text-align: center;
    padding-top: 0.1vw;
    font-size: 1.5vw;
    font-weight: 500;
    color: #666;
    border: none;
    outline: none;

    position: absolute;
    transform: translate(31vw, -4.3vw);
  }

  .search .box:nth-of-type(4) {
    width: 2vw;
    height: 2.5vw;
    background-color: #F1F1F1;
    border-radius: 0.3vw;
    position: absolute;
    transform: translate(57vw, -4.3vw);
  }

  .search .box:nth-of-type(4) i {
    font-size: 1.3vw;
    transform: translateY(-6px);
  }

  .backgroundimg>p {
    color: #fff;
    font-size: 1.7vw;
    font-weight: 400;
    line-height: 2.5vw;
    letter-spacing: 0.06rem;
    padding: 15.68vw 0 0 17.5vw;
  }
}

@media (max-width:375px) {
  .bicon .icon {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    text-align: center;
    margin-left: 1vw;
    margin-left: -4vw;
  }

  .search {
    position: absolute;
    transform: translate(2.5vw, 16vw)
  }

  .search .box:nth-of-type(2) input {
    width: 25vw;
    height: 2.5vw;
    background-color: #F1F1F1;
    border-radius: 0.3vw;
    text-align: center;
    padding-top: 0.1vw;
    font-size: 1.5vw;
    font-weight: 500;
    color: #666;
    border: none;
    outline: none;

    transform: translate(0.5vw, -4.3vw);
  }

  .search .box:nth-of-type(3) input {
    width: 25vw;
    height: 2.5vw;
    background-color: #F1F1F1;
    border-radius: 0.3vw;
    text-align: center;
    padding-top: 0.1vw;
    font-size: 1.5vw;
    font-weight: 500;
    color: #666;
    border: none;
    outline: none;

    position: absolute;
    transform: translate(27vw, -4.3vw);
  }

  .search .box:nth-of-type(4) {
    width: 2vw;
    height: 2.5vw;
    background-color: #F1F1F1;
    border-radius: 0.3vw;
    position: absolute;
    transform: translate(53vw, -4.3vw);
  }
  .search .box:nth-of-type(4) i{
    transform:  translateY(-8px);
  }

  .backgroundimg>p {
    color: #fff;
    font-size: 1.4vw;
    font-weight: 400;
    line-height: 2.2vw;
    letter-spacing: 0.05rem;
    padding: 15.68vw 0 0 17.5vw;
  }
}