*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration: none; color: inherit;}

body{
  font-family: "Pretendard";
  color: #1a1a1a;
}


/* 서브페이지 튜브 */
  .tube img{
  width: 100%;
  height: 8.33vw;
}